{% extends 'base.html' %}

{% block title %}
Update
{% endblock %}

{% block body%}

<div class="container my-4">
    <h1 class="container text-center">Update Todo Page</h1>
    <form action="/update/{{todo.sno}}", method="post">
      <div class="mb-3">
        <label for="title" class="form-label">Todo List Title</label>
        <input type="text" class="form-control" name="title" id="title" value="{{todo.title}}" aria-describedby="titleHelp">
        <div id="text" class="form-text">Add your Todo Title here.</div>
      </div>
      <div class="mb-3">
        <label for="description" class="form-label">Todo List Description</label>
        <input type="text" class="form-control" name="desc" value="{{todo.desc}}" id="description">
      </div>
      <button type="submit" class="btn btn-primary">Update</button>
    </form>
  </div>
    
{% endblock body%}